altgraph==0.17.4
certifi==2024.7.4
charset-normalizer==3.3.2
idna==3.7
numpy==2.0.1
packaging==24.1
pandas==2.2.2
peewee==3.17.6
pefile==2023.2.7
psycopg2==2.9.9
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32==306
pywin32-ctypes==0.2.3
requests==2.32.3
schedule==1.2.2
setuptools==73.0.1
six==1.16.0
tzdata==2024.1
urllib3==2.2.2
WMI==1.5.1